Short Description

Long Description
-- Metzenbach et al., Änderungen des Grundgesetzes seit 1949 (WD 3 - 380/09), 2009

Signed-off-by: 

Source: 
Passed: 
Date: 
Announced: 
Effective-since: 
Election-period: 
Votes-Yes: 
Votes-No: 
Votes-Abstentions: 
Initiative-of: 
